region = "us-east-1"
name   = "opensearch-demo"

cidr_block           = "10.5.0.0/16"
azs                  = ["us-east-1a", "us-east-1b"]
private_subnet_cidrs = ["10.5.101.0/24", "10.5.102.0/24"]

tags = {
  project     = "terraform-templates"
  environment = "dev"
  owner       = "example"
}
